@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body,
html {
  background:#132741;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bounce-2x {
  animation: scaleY 1s ease-in-out;
}
.btn{
  background-color: #132742;
}

.savvedlink{
  width: 550px;
}
.modal{
  width: 550px;
  transform: translateY(300px);
}

.amimation{
  transform: translateY(0px);
}
.hide{
  visibility: hidden;
  transform: translateY(300px);
}
.progress{
  border-radius: 15px;
}

::-webkit-progress-value {
  background-color: #0e4792;
  transition: all ease-in-out 1.5s;
}

@keyframes scaleY{
  from{
      transform: translateY(30px);
  }
  to{
      transform: translateY(0px);

  }
}

@media (max-width:640px) {
  .savvedlink{
    width: 80vw;
  }
  
}